@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
}

.bgModal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}
.modalWrapper {
  position: absolute;
  overflow: hidden;
  top: 28.4rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form__add-product {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem;
  width: 90vw;
  max-width: 42rem;
  gap: 1rem;
  border-radius: 0.75rem;
}

::-webkit-scrollbar {
  width: 0px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #F2F2F2;
}

::-webkit-scrollbar-thumb {
  background: #BDBDBD;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6E6E6E;
}